.vs/NeoballFix/FileContentIndex/0ab6e563-6cbe-4a93-bdbc-8d3e72e018fe.vsidx
.vs/NeoballFix/FileContentIndex/3c683f53-dd3d-4f78-b07e-87e0b6a4fe7c.vsidx
.vs/NeoballFix/FileContentIndex/4876293c-ef8b-4957-aac3-3c80dbcd8a58.vsidx
.vs/NeoballFix/FileContentIndex/4ec834af-5fe9-4c96-9287-11d23e32c2b3.vsidx
.vs/NeoballFix/FileContentIndex/8b354f62-055e-4331-bd84-ddebf7d9f33b.vsidx
.vs/NeoballFix/v17/.suo
.vs/NeoballFix/v17/Browse.VC.db
.vs/NeoballFix/v17/Browse.VC.db-shm
.vs/NeoballFix/v17/Browse.VC.db-wal
.vs/NeoballFix/v17/Browse.VC.opendb
.vs/NeoballFix/v17/DocumentLayout.backup.json
.vs/NeoballFix/v17/DocumentLayout.json
.vs/NeoballFix/v17/fileList.bin
.vs/NeoballFix/v17/ipch/AutoPCH/26b90d7cc2719eaa/MAIN.ipch
.vs/NeoballFix/v17/ipch/AutoPCH/800cb9366d6ac963/PADDLE.ipch
.vs/NeoballFix/v17/ipch/AutoPCH/edb89542024d9375/NEOBALLFIX.ipch
.vs/NeoballFix/v17/ipch/AutoPCH/f918ed6c3938fa16/MAIN.ipch
.vs/NeoballFix/v17/Solution.VC.db
.vs/NeoballFix/v17/Solution.VC.db-shm
.vs/NeoballFix/v17/Solution.VC.db-wal
NeoballFix/x64/Debug/Ball.obj
NeoballFix/x64/Debug/Brick.obj
NeoballFix/x64/Debug/Game.obj
NeoballFix/x64/Debug/main.obj
NeoballFix/x64/Debug/NeoballFix.Build.CppClean.log
NeoballFix/x64/Debug/NeoballFix.exe.recipe
NeoballFix/x64/Debug/NeoballFix.ilk
NeoballFix/x64/Debug/NeoballFix.log
NeoballFix/x64/Debug/NeoballFix.res
NeoballFix/x64/Debug/NeoballFix.tlog/CL.command.1.tlog
NeoballFix/x64/Debug/NeoballFix.tlog/Cl.items.tlog
NeoballFix/x64/Debug/NeoballFix.tlog/CL.read.1.tlog
NeoballFix/x64/Debug/NeoballFix.tlog/CL.write.1.tlog
NeoballFix/x64/Debug/NeoballFix.tlog/link.command.1.tlog
NeoballFix/x64/Debug/NeoballFix.tlog/link.read.1.tlog
NeoballFix/x64/Debug/NeoballFix.tlog/link.secondary.1.tlog
NeoballFix/x64/Debug/NeoballFix.tlog/link.write.1.tlog
NeoballFix/x64/Debug/NeoballFix.tlog/NeoballFix.lastbuildstate
NeoballFix/x64/Debug/NeoballFix.tlog/rc.command.1.tlog
NeoballFix/x64/Debug/NeoballFix.tlog/rc.read.1.tlog
NeoballFix/x64/Debug/NeoballFix.tlog/rc.write.1.tlog
NeoballFix/x64/Debug/NeoballFix.vcxproj.FileListAbsolute.txt
NeoballFix/x64/Debug/Paddle.obj
NeoballFix/x64/Debug/vc143.idb
NeoballFix/x64/Debug/vc143.pdb
x64/Debug/NeoballFix.exe
x64/Debug/NeoballFix.pdb
.vs/NeoballFix/FileContentIndex/bf8e6b90-3b6e-4766-8715-560ca414bd2f.vsidx
.vs/NeoballFix/FileContentIndex/caaee40f-027e-4e57-a8b4-05d436ad1e72.vsidx
.vs/NeoballFix/v17/ipch/5da578e8c1740007.ipch
.vs/NeoballFix/v17/ipch/AutoPCH/8c20264228568de1/GAME.ipch
.vs/NeoballFix/FileContentIndex/508d77f3-2ad1-4a1e-a263-fd630cefbdb8.vsidx
.vs/NeoballFix/v17/ipch/AutoPCH/8c20264228568de1/GAME.ipch
